<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FacebookSuite1" verbose="1" configfailurepolicy="continue" parallel="tests">
    <test name="Login test">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test name="Edit name test">
        <classes>
            <class name="tests.EditNameTest"/>
        </classes>
    </test>
</suite>


